/************ GLOBAL STYLES *****************/

header, footer, nav, aside, article, section {display: block;}

body {

	margin: 0;padding: 0;
	background: #000 url('../images/bg/loginbg.jpg') no-repeat top fixed;
	background-color #000;
	font: normal 100%/1.5 arial, sans-serif;

}

.container {

	margin: 0 auto;
	padding: 0;
	width: 1400px;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2.25em;}

.panel {

	position:relative;
	height: 100px;
	width: 100%;

	font-size: 2em;
	line-height: 100px;

	background-color: #aaa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#aaa)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #bbb, #aaa); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #bbb, #aaa); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #bbb, #aaa); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #bbb, #aaa);
	border-bottom: 1px solid #999;
	border-top: 1px solid #bbb;

	z-index: 1000;
}


.panel input {

	margin: 1.3em 1em 1em;
	float: right;

}
.panel-info {

	position: relative;
	margin: 0 auto;
	width: 90%;
}

.sign-out {

	margin: 0 ;
	padding:3px 5px 3px 0;
	width: 100%;

	background-color: #000;
	text-align: right;

}

.sign-out a {

	color:#fff;
}

::selection {
	text-shadow: none;
	color: red;
}


/********** HEADER ***************/


#imgWrap{

	width:88%;
	height: 90%;
	overflow: hidden;
}

.header-container {

	float: left;

}

.content-container {

	float: left;
	width: 80%;

	padding-top: 50px;
}

.mainHead {

	margin: 0;

	width: 250px;
	height: 1200px;

	background: url("../images/bg/friends-bg.png");

}

.mainHead figure {

	margin:0;
	padding: 0;
	height: 230px;

}

.mainHead img {

	margin: 25px 0 0 25px;
	padding: 0;
	width: 100%;

}

.mainHead figcaption{
	margin: 0; 
	margin-top: 1px;
	padding: 0;
	height: 32px;
	font-size: 1.1em;
	text-align: center;
	color: #333;	

	background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);

	box-shadow: inset 1px 1px 10px #9a9a9a,
				0 0 3px #fff;
	border:1px solid #efefef;
	text-shadow: 0 1px 0 #ddd;

	line-height: 32px;

}

.mainHead nav ul {

	margin: 0;
	margin-top: 20px;
	padding: 0;
	list-style-type: none;

}
.mainHead nav li {

	margin: 0; 
	padding: 1.5em;
	position: relative;
	
	background-color: #f54020;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f54020), to(#f54e31)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f54020, #f54e31); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #f54020, #f54e31); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #f54020, #f54e31); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #f54020, #f54e31);
	
	border-bottom: 1px solid #c31d00;
	border-top: 1px solid #f46b59;

}

.mainHead li a{

	padding: 1em;
	padding-left: 0.2em;
	color: #fff;
	font-size: 2.5em;
	text-decoration:none;

	text-shadow: 0 1px 1px #dd2200,
				 0 -1px 1px #dd472c;

}

#friends a:after, #friends a:hover:after  {

	position:absolute;
	content: "";
	height: 40px;
	width: 40px;
	right: 30px;
	top: 30%;

}

#friends a:after {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: 0 0;

}

#friends a:hover:after {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: -43px 0;

}

#plans a:after, #plans a:hover:after {

	position:absolute;
	content: "";
	height: 40px;
	width: 40px;
	right: 31px;
	top: 25%;

}

#plans a:after {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: 0 -40px

}

#plans a:hover:after {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: -43px -40px;

}






/************ LoginBox *************/

.login-box {

	position: relative;
	margin: 20% auto;
	padding-bottom: 25px;
 	width: 600px;

 	font-size: 0.6em;

 	background-color: #272727;
 	border-radius: 10px;
 	box-shadow: 0 0 10px #777;
 }

.login-box h2 {

	font-size: 2em;
}

.login-box a{

	color: #000;
}


form h2 {

	position: relative;
 	margin: 0 auto 20px;
 	padding: 0.5em;
 	width: 148px;
 	height: 30px;

 	color: #fff;
 	text-align: center;
 	line-height: 25px;
 	text-shadow: 0 1px 0 #f41e00,
				0 -1px 0 #888;

 	background-color: #f4432a;

 }

 form h2:before {

 	position: absolute;
 	content:"";
 	display: inline-block;
 	top: -5px;
 	left: -8px;
 	width:180px;
 	height: 10px;
 
 	padding: 0.1em 0.5em 0.1em 0.5em;

 	box-shadow: 5px ;
 	font-size: 0.6em;
 	background: transparent url('../images/clips/login-top.png') no-repeat top center;
 	background-size: 196px;

 }

 .last {

	font-size: 1.50em;
	text-align: center;

	line-height: 1.5;

	text-shadow: 0 1px 0 #d5d5d5,
				0 -1px 0 #bbb;
}

.panel-info > input {

	width: 290px;
	height: 35px;
	padding: 2px 1px;
	font-size: 0.6em;

}

.panel-info > label {

	text-shadow: 0 1px 0 #d5d5d5,
				0 -1px 0 #bbb;
}

.go-button > button {

	position: absolute;
	right: -85px;
	top: 38%;
	width:85px;
	height: 60px;

	font-size: 1.5em;

	cursor: pointer;
	background-color: #f4432a;
	border:none;
}

.go-button > button:active{

	background-color: #fff;
}


.event-go > button {

	width: 150px;
	right: -150px;

}

.bottomLink {

	position: relative;
	z-index:10;
	float: right;
	margin:-10px 10px 0;
	padding: 15px 10px 5px;
	
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 1%, #dbdbdb 95%, #e0e0e0 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(95%,#dbdbdb), color-stop(96%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 1%,#dbdbdb 95%,#e0e0e0 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 1%,#dbdbdb 95%,#e0e0e0 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 1%,#dbdbdb 95%,#e0e0e0 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 1%,#dbdbdb 95%,#e0e0e0 96%); /* W3C */
	

	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;

	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;

	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

	border: 1px solid #fff;

	box-shadow: inset 0 10px 2px #aaa;

	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
	font-size:0.8em;

}

.request{

	position: absolute;
	padding: 5px 10px;

	bottom: -50px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 1%, #dbdbdb 97%, #e0e0e0 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(97%,#dbdbdb), color-stop(98%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 1%,#dbdbdb 97%,#e0e0e0 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 1%,#dbdbdb 97%,#e0e0e0 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 1%,#dbdbdb 97%,#e0e0e0 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 1%,#dbdbdb 97%,#e0e0e0 98%); /* W3C */
	

	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;

	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;

	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

	border: 1px solid #fff;
	border-top: none;

	box-shadow: inset 0 1px 2px #aaa;
	color: #333;

	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
	font-size:0.5em;

	z-index: 1;

}


/************ Add Event *************/

.contentHead {

	position: relative;
	margin: 0 auto;
	width: 40%;
	height: 60px;
	padding: 0;

	-webkit-border-radius: 20px;
	border-radius: 20px;

	background: url("../images/bg/friends-bg.png");
	border: 1px solid #ddd;
	text-align: center;
	text-shadow: 0 2px 0 #fff;

}

.extended {

	width: 80%;
}

.contentHead h1{

	margin:0;
	color:#000;

	text-shadow: 0 1px 1px #fff;

}

.contentHead p, #confirm {


	background-color: #f5f6f7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f6f7), to(#cfced4)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f5f6f7, #cfced4); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #f5f6f7, #cfced4); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #f5f6f7, #cfced4); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #f5f6f7, #cfced4);

	-webkit-border-radius: 10px;
	border-radius: 10px;

	border: 1px solid #cfced4;

}

.contentHead p{

	position: absolute;
	padding: 0.5em;
	margin-top: 9px;


	height: 25px;
	top: 0;
	right: 20px;

}

.contentHead p a {

	padding: 10px 5px;
	text-decoration: none;
	font-size: 0.95em;
	color: #333;

	text-shadow: 0 1px #aaa;

}

.contentBody {
	
	margin: 0 auto;
	margin-top: 80px;
	width: 90%;
	padding: 1em;
	
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	background-color: rgba(250,250,250,0.1);

}

.eventBody, .friendBody, .calendarBody {

	padding: 1.5em;
	
	background: url("../images/bg/friends-bg.png");

	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-weight: bold;
	text-shadow: 0 2px 0 #fff;
	color: #000;

}


.calendarBody{

	text-shadow: none

}

form {

	font-size: 2em;

}

.top-box {

	position: relative;
	text-align: left;
	width: 625px;

}

.top-box label {

	text-align: left;

}

.form-input {

	position: relative;

}

.form-input input {

	margin: 5px 0;
	padding: 0 5px;
	width: 350px;
	height: 30px;
	float: right;

	font-size: 0.55em;
}

.form-options {

	margin-bottom: 10px;

}

.form-options input {

	display: inline;
	width: 80px;
	height: 30px;
	font-size: 0.55em;
	line-height: 1.9;

}

#location {
	margin-top: 10px;
}

[for="time"] {
	float: left;
	padding-right: 125px;

}

.loc-notice {

	position: absolute;
	top: 5px;
	right: -320px;
	font-size: 0.4em;
	color: #f35944;

	text-shadow: none;
}

.map-case {

	position: relative;
	margin-top: 50px;
	padding: 1em;
	height: 300px;
	background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);

	border:1px solid #efefef;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	box-shadow: inset 1px 1px 10px #9a9a9a,
				0 0 10px #ccc;

}

#map_canvas {

	float: left;
	height: 250px;
	width: 400px;
	margin-top: 0.6em;
	border: 15px solid #fff;
	background-color: blue;

}
 #mapMarker {

	padding: 0.1em;
	border-radius: 10px;
	font-size: 0.8em;
	color: #000;
}

#map-info {

	width: 400px;
	float: left;
	padding: 1em;

}

#map-info label {

	margin-top: 10px;
	color:#333;
	text-shadow: 0 1px #dfdfdf;

}


#map-info h3 {

	margin: 0;
	padding: 0 0 10px;
	color: #292929;
	font-size: 1.6em;

	text-shadow: 0 1px 1px #fff;

}

#searchTextField {

	display:block;
	height: 30px;

	font-size: 1.2em;
}


#make-plans {

	position: absolute;
	width: 320px;
	height: 75px;

	bottom: 10px;
	right:10px;

	background-color: #f54020;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f54020), to(#f54e31)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f54020, #f54e31); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #f54020, #f54e31); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #f54020, #f54e31); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #f54020, #f54e31);
	

	border: 2px solid #f4371c;
	border-bottom: 1px solid #c31d00;
	border-top: none;


	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor:pointer;

	font-size: 2.5em;
	color: #fff;
	text-shadow: 0 1px 1px #dd2200,
				0 -1px 1px #dd472c;

}

#datepicker {

	margin-left: -20px;
	padding: 0 5px;
	width: 150px;


}

#start, #end {

	padding: 0 5px;
	width: 73px;

}

.good {

	background-color: #ddf7d5;
}

.error {

	background-color:#f87963;
}

.bad-date:after {

	display:inline-block;
	position: absolute;
	content:'Please double check you start and end time';
	top: 80px;
	right: -285px;

	font-size: 13px;
	color: #000;

}



/********* CALENDAR **************/

.calendarBody {

	height: 700px;
	overflow-y: scroll;
	border: none;

}

.calendarBody table {
	
	border-collapse:collapse;
	background-color: #dadada;
	color: #000;

}

.calendarBody thead {

	font-size: 2em;

}

.calendarBody thead th {

	padding-right: 0.5em;
	font-size: 14px;

}


.calendarBody tbody td{

	padding:1em;
	font-size: 12px;
	text-align:center;
	
}

tr:nth-child(odd) { 

	background: #e5e5e5; 

}

.dates {

	width: 225px;
}

thead tr th:nth-child(2n+1) {

	background: #dadada;
}

.tableQuery {

	width: 70%;
	padding:0.5em;

}

.eventTable {

	margin: 10px;

}

.eventTime {

	margin: 0;
	color: #000;
	padding: 10px;

	background-color: #fafafa;

	box-shadow: inset 0 0 10px #f3f3f3;

	border: 1px solid #aaa;

	text-align: left;
	vertical-align: top;

}

.eventTime a {

	position: relative;

	display: block;
	font-size: 1.5em;
	min-height: 100px;

	background: url('../images/bg/event-bg.png');


	box-shadow: inset 1px 1px 10px #9a9a9a,
						0 0 3px #ddd;
	border:1px solid #efefef;
	color:#333;
	text-decoration: none;
	text-shadow: 0 1px 0 #eee;
	
}

.eventTime a:hover{

	background: url('../images/bg/event-bg.hover.png');
	color: #000;
}


.moreInfo {
	position: absolute;
	display: block;
	padding: 5px;
	margin-left: -30%;
	left: 50%;
	bottom: 10px;

	width: 50%;

	border: 1px solid #aaa;

	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #f4f4e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#f4f4e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#f4f4e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 0%,#f4f4e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 0%,#f4f4e3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfff4 0%,#f4f4e3 100%); /* W3C */
	

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
		border-radius: 30px;

	font-size: 0.8em;

}

.moreInfo:hover, .moreInfo:active{

	border: 1px solid #777;

}


.tableTime {

	padding-right: 5px;

}

.notifications {

	margin-top: 20px;
	padding: 0.5em ;
	background-color: #fff;

	-webkit-border-radius: 10px;
	border-radius: 10px;

		text-shadow: 0 1px 1px #ddd,
				 0 -1px 1px #fff;

	background: url("../images/bg/friends-bg.png");


}

.notifications h3 {

	margin: 0;
	padding-left: 20px;

}

.notificationsList {

	padding: 1em;
	list-style: none;

	background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);
	color: #000;

	box-shadow: inset 1px 1px 10px #9a9a9a,
				2px 2px 10px #fff;
	border:1px solid #efefef;

}


#confirm {
	margin-left: 10px;
	padding: 5px;

	color: #333;

	text-decoration: none;
}

#confirm:hover{
	
	border: 1px solid #444;
}

#confirm:active, #confirm:link, {

	background-color:#d9d9d9;
}

/******** event ****************/

#panel-location, #panel-time, #panel-friends {

	position: relative;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	text-align: center;

	text-shadow: 0 1px 0 #dedede,
				0 -1px 0 #bbb;

}

#panel-location + div {

	position: absolute;
	padding: 0;
	margin: 0;
	top: 50px;

	font-size: 20px;
	width: 100%;

	text-shadow: 0 1px 0 #aaa,
				0 -1px 0 #888;

}

.second {

	margin:0 auto;
	line-height: 2.5;

}

.small-text{

	margin: 0;
	padding: 0;

}

.small-text > p {

	margin: 0;
	line-height: 2;

	text-align: center;
	text-shadow: none;
}


#panel-time:before, #panel-location:before, #panel-friends:before {

	position: absolute;
	display: block;
	content:'';
	height: 45px;
	width: 45px;
	top: 25px;

}



#panel-time:before {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: -160px 4px;
}

#panel-location:before {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: -160px -39px;

}

#panel-friends:before {

	background: url("../images/clips/icon-sprite.png") no-repeat left;
	background-position: -155px -83px;

}



/************ FRIENDS *************************/

.boxLeft {

	float: left;
	min-width: 480px;
	min-height: 200px;

}



.friendBody {

	min-height: 400px;

}

.friendsUl {

	margin:0;
	padding: 0;
	padding-right: 40px;
	list-style-type:none;

}

.friendsUl li {

	padding: 10px; 

}



.boxRight {

	float:left;
	margin-left: 75px;
	margin-top: 10px;

}


.userCheck {

	float: right;
	padding: 1em;
	margin-right: 15px;
	width: 355px;
	background-color: red;

	background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);

	border:1px solid #efefef;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 1px #aaa,
				0 0 6px #ddd;

}

#addFriend{

	position: relative;
	padding: 0.5em 1em 1em;
	height: 90px;
	background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);

	border:1px solid #efefef;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 1px #aaa,
				0 0 6px #ddd;

	text-align: center;
	color:#000;
	z-index: 100;

}

#addFriend label {

	display: block;
	font-size: 0.7em;
	text-shadow: 0 1px  #eee;

}

#addFriend em {

	display: block;
	font-size: 0.5em;
	text-shadow: none;

	color: red;

}
#addEmail {

	width: 250px;
	height: 30px;

	font-size: 0.55em;

}

#addBtn {

	width: 55px;
	height: 36px;
	font-size: 0.55em;

}


[data-status="unchecked"] {

	display:none;

}


[data-status="available"] {

	position: absolute;

	left:-300px;
	color: #090;

}

[data-status="available"]:after {

	content:"✔";
	margin-left: 10px;

}

[data-status="unavailable"] {

	left: -300px;
	position: absolute;
	color: #f33;

}

.friendHolder{

	position: relative;
	z-index:100;
	height: 40px;
	width: 400px;
	margin: 10px 10px 35px;


	background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);
	color: #000;

	box-shadow: inset 2px 2px 1px #aaa,
				0 0 6px #ddd;
	border:1px solid #efefef;

	
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.1em;

}

.friendHolder div{

	display:inline-block;
	padding-right: 20px;
	width: 50px;
	height: 40px;
	overflow:hidden;

}

.friendHolder div > img {

	width: 100%;
}


.friendHolder span {

	position: absolute;
	line-height: 40px;

	text-shadow: 0 1px 0 #eee;

}

.tips {

	text-align: center;
	font-size: 1.5em;
	color: #222;

		background-color: #d9d9d9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c0c0c0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image:    -moz-linear-gradient(top, #d9d9d9, #c0c0c0); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #d9d9d9, #c0c0c0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #d9d9d9, #c0c0c0);

	text-shadow: 0 1px #eee;

	-webkit-border-radius: 10px;
	border-radius: 10px;

}

.tips p {

	padding:0;
	margin: 0;
}

.delete {

	position: relative;
	z-index: 10;
	margin-top: -45px;
	margin-right: 20px;
	color: #000;
	font-size: 0.75em;

	-webkit-transition: all 900ms;

}

.googleMapCanvas{

	padding: 0 2em;
	position: absolute;
	top: 90px;
	left:-15px;


}

.googleMapCanvas:before{

	position: absolute;
	padding-left: 10px;
	content:"Map";
	height: 50px;
	width: 100px;
	top: 120px;
	left: -45px;
	cursor: hand;
	background-color: #f4432a;
	font-size: 2.2em;
	line-height: 50px;

}

.mapMove{

	left: -325px;
}

/*** clearfix ***/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}


input::-webkit-input-placeholder, input:-moz-placeholder  {

    color: #aaa;

}

